// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 全てのマージン、パディングを0に
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
html {
  height:100%;
  body{
    min-width:1024px;
    height:100%;
    margin:0;
    background-color: rgb(243, 245, 245);
    header{
      a {
        color:white;
      }
    }
    margin-top: -20px;
    .main_container{
      height:100%;
      .cover_image {
        height: 550px;
        width: auto;
        // background-image: url("revolution_square 2.jpg");
        background-size: cover;
        background-position: center;
        // object-fit: cover;
        .band {
          .main-title {
            text-align: center;
            h1 {
              color: rgb(255, 141, 106);
            }
          }
        }
      }
      .all_contents {
        // margin:20px;
        display: flex;
        justify-content: center;
        .plan_contents {
          width: 950px;
          float: left;
          .row {
            min-width: 950px;
            .col-sm-4 {
              .card {
                border:groove 1px rgb(340, 300, 300);
                margin-top: 20px;
                width: 250px;
                height: 300px;
                // object-fit: fill;
                background-color: #fff;
                a {
                  display: block;
                  overflow: hidden;
                  .card-img-top {
                    width:100%;
                    height:220px;
                    // object-fit: contain;
                    // overflow: hidden;
                    object-fit: cover;
                    img {
                      // max-width: 100%;
                      // height: 100%;
                      width /***/:auto;
                      
                      }
                  }
                }
                .cord-body {
                  a {
                    height:0;
                  }
                  h4 {
                    color: darkslategray;
                  }
                  p {
                    color: darkslategrey;
                    background-color: darkturquoise;
                  }
                }
              }
            }
          }
        }
        .map_contents {
          margin-top: 50px;
          width: 100%;
          height:auto;
          .map_contents_image {
            height: 500px;
            width: 900px;
            background-image: url("worldmap.jpeg");
            background-size: cover;
            background-position: center;
          }
        }
        .right_contents {
          width: 20%;
          float: right;
          ul a{
            color: white;
          }
        }
      }
    }
  }
}
