<div class = "cover_image">
  <div class = "band">
    <div class ="main-title">
      <h1>kari title</h1>
    </div>
  </div>
</div>
<div class = "all_contents">
  <div class = "plan_contents">
  <h3 class = "plan_finding">一覧</h3>
    <div class="row">
        <% @plans.each do |plan| %>
          <div class="col-sm-4">
            <%= link_to("/plans/#{plan.id}", method: :get) do %>
              <div class="card" >
                <%= image_tag plan.image.to_s, class:"card-img-top" %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to plan.title, "/plans/#{plan.id}", method: :get %>
                  </h4>
                  <p class="card-text">
                    <%= plan.details %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
  <%# <div class = "right_contents">
    <div class = "resion_block">
      <h4>地域</h4>
      <ul>
        <li>resion</li>
        <li>resion</li>
        <li>resion</li>
        <li>resion</li>
        <li>resion</li>
      </ul>
    </div>
  </div> %>
</div>
