<p>post-newpage</p>
<div class = "post_form_block">
  <%= form_tag('/plans', method: :post) do %>
  <div>
    <label>planname</label>
    <input type="text" id ="title" name="title">
  </div>
  <div>
    <label>datails</label>
    <input type="text" id ="details" name="details">
  </div>
  <div>
    <label>image</label>
    <input type="text" id ="image" name="image">
  </div>
  <div>
    <label>region</label>
    <input type="text" id ="region" name="region">
  </div>
  <div>
    <label>date</label>
    <input type="date" id ="date" name="date">
  </div>
  <div>
    <input type="submit">
  </div>
  <% end %>
</div>